body{margin: 0; padding: 0; background-color: #cccccc}
#wrapper {width: 650px; height: 650px;}
.topmargin100{margin-top: 100px}
#Position {
    height: 20px;
    width: 600px;
    font-weight: bold
}

.triangleWrapper{float: left; position: relative}

.leftTriangle {
    height: 100px;
    width: 100px;
    background: transparent url('/Images/TriLeft.png') no-repeat 0 0;
    opacity: 0.5;
    float: left;
}

.rightTriangle {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 100px;
    background: transparent url("/Images/TriRight.png") no-repeat 0 0;
    opacity: 0.5;
    float: left;
    clear: both;
}


.leftTriangle span{text-align: center; position: absolute; top:50px; left: 20px;}
.rightTriangle span{text-align: center; position: absolute; top:30px; left: 60px; }

.fillColorLeft{
    opacity: 0.2;
}

.fillColorRight{
    opacity: 0.2;
}