<!--
<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS, and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET Web API is a framework that makes it easy to build HTTP services that reach
            a broad range of clients, including browsers and mobile devices. ASP.NET Web API
            is an ideal platform for building RESTful applications on the .NET Framework.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301870">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301871">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301872">Learn more &raquo;</a></p>
    </div>
</div>
-->

<div class="row clear-fix topmargin100">
    <div class="col-md-6">
        <div id="wrapper" style=""></div>
        <div id="Description">This display is times by 10 To show functionality.</div>
        <div id="Position"></div>
    </div>
    <div class="col-md-5 col-md-push-1">
      
        <div class="container  rounded alert-dark">
            <form  id="triangleForm">
                <div class="form-group">
                    <label for="V1">V1</label>
                    <input type="number" class="form-control" id="V1" aria-describedby="V1Help" required="required"  placeholder="Enter 1st Position" >
                    <small id="V1Help" class="form-text text-muted">Bottom of Triangle</small>
                </div>
                <div class="form-group">
                    <label for="V2">V2</label>
                    <input type="number" class="form-control" id="V2" aria-describedby="V2Help" required="required" placeholder="Enter 2nd Position" >
                    <small id="V2Help" class="form-text text-muted">Top of Triangle</small>
                </div>
                <div class="form-group">
                    <label for="V3">V3</label>
                    <input type="number" class="form-control" id="V3" aria-describedby="V3Help" required="required" placeholder="Enter 3rd Position" >
                    <small id="V3Help" class="form-text text-muted">Right of Triangle</small>
                </div>

                <button id="triangleSubmit" class="btn btn-primary">Get Value</button>
            </form>
            
            <h3 id="triangleResults"></h3>

        </div>
    </div>
</div>